@font-face {
    font-family: 'Dibatik';
    src: url('https://ksoin96.github.io/jessie/fonts/Dibatik-p7LOR.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 3em;  /* Adjust this value to increase or decrease the font size */
    color: #FFFFFF; 
    transition: color 0.3s ease;
}

h1:hover,
h1:active {
    color: #FF0000;  /* Changes the text color to red on hover and click */
}

body {
    font-family: 'Dibatik', sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    margin: 0;
    height: 100vh;
}
.instagram-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.instagram-icon img {
    width: 40px;
    height: 40px;
}

