@font-face {
    font-family: 'Dibatik';
    src: url('https://ksoin96.github.io/jessie/fonts/Dibatik-p7LOR.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: 'Dibatik', sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    margin: 0;
    height: 100vh;
}
.instagram-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.instagram-icon img {
    width: 40px;
    height: 40px;
}

